<h1>brown ales </h1>
<body>
<div>
Brown ale is a style of beer with a dark amber or brown colour. The term was first used by London brewers in the late 17th century to describe their products, such as mild ale,hough the term had a rather different meaning than it does today. 18th-century brown ales were lightly hopped and brewed from 100% brown malt.
</div>
</body>