<h1>IPA</h1>
<body>
<div>
India pale ale (IPA) is a hoppy beer style within the broader category of pale ale.

The first known use of the term "India pale ale" is an advertisement in the Sydney Gazette and New South Wales Advertiser in 1829.[1] It was also referred to as pale ale as prepared for India, India ale, pale India ale, or pale export India ale, the high hop content preserving the beer for the long journey from England to India.
</div>
</body>
