<h1>lager </h1>
<body>
<div>
Lager (German: storeroom or warehouse) is a type of beer that is conditioned at low temperatures, normally at the brewery. It may be pale, golden, amber, or dark.

Although the defining feature of lager is its maturation in cold storage, it is also distinguished by the use of a specific yeast. While it is possible to use lager yeast in a warm fermentation process, such as with American steam beer, the lack of a cold storage maturation phase precludes such beer from being classified as lager. On the other hand, German Altbier and Kölsch, brewed with a top-fermenting yeast at a warm temperature, but with a cold storage finishing stage, are classified as obergäriges Lagerbier (top-fermented lager beer).</div>
</body>