<h1>pilsner </h1>
<body>
<div>
Pilsner (also pilsener, pilsen or simply pils) is a type of pale lager. It takes its name from the city of Pilsen, a city in Bohemia in the then-Austrian Empire, where it was first produced in 1842. Nowadays Pilsen is located in Czech Republic.[1] The world’s first-ever blond lager was the Pilsner Urquell, making it the inspiration for more than two-thirds of the beer produced in the world today (which are still called pils, pilsner, and pilsener). The original Pilsner Urquell beer is still produced there today.
</div>
</body>